Package: com.omerta.iosui.daemon
Name: OMERTA iOS Persistence Daemon
Version: 0.1.0
Architecture: iphoneos-arm
Description: OMERTA iOS -- phase3 LaunchDaemon persistence proof-of-concept
Maintainer: OMERTA
Author: OMERTA
Section: Tweaks
Depends: firmware (>= 12.0)
